#container{
    background-color: lightgray;
}

.banner-class{
    text-align: center;
}

.content-padding{
    background-color: white;
    padding: 1em;
    min-height: 840px ;
}

.footer-class{
    text-align: center; 
    background: black; 
    color: white;
    font-size: 11px;
    padding: 10px;
}